/* -- Global rules -- */
* {
  border: none;
  font-family: "AdwaitaMono";
  font-size: 20px;
  min-height: 15px;
}

window#waybar 
    { background-color: transparent; }

#clock
    {background: #ABE9B3;
     color: #000000; }

#battery
    {background: #ABE9B3;
     color: #000000; }
